cameras:
  - basement:
      source: rtsp://192.168.1.54/11
      resw: '1280'
      resh: '720'
      audio: '-an'
  - office:
      source: rtsp://192.168.1.142:8554/
      resw: '1280'
      resh: '720'
      audio: '-an'
  - camera1:
      source: rtsp://camera1:camera1@192.168.1.114
      resw: '1280'
      resh: '720'
      audio: '-c:a aac -b:a 160k -ar 44100'

{%- for i in cameras %}


for i in cameras: {{ i }}

-- for key, value in i.items()
{%- for key, value in i.items() %}
key: {{ key }}
value: {{ value }}

-- for subkey, subvalue in value.items()
{%- for subkey, subvalue in value.items() %}
subkey: {{ subkey }}
subvalue: {{ subvalue }}

{%- endfor %}
{%- endfor %}
{%- endfor %}
